.alert-error {
  color: red;
  background: #ffe5e5;
  width: 70vw;
  font-size: 22px;
  padding: 6px 16px 6px 16px;
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  border-width: 0.1px;
  margin: 5% 10% 5% 10%;
}

.alert-success {
  color: green;
  background: #f4fef4;
  width: 70vw;
  font-size: 22px;
  padding: 6px 16px 6px 16px;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  border-width: 0.1px;
  margin: 5% 10% 5% 10%;
}
