  #addForm {
      
      display: flex;
      width: auto;
  }

  #craneUser {
    background-color: lightgrey;
  }

  #submitButton {
      background-color: #F9B101;
  }
  input {
   text-align: center;   
  }