@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital@0;1&display=swap");

.App {
  background: white;
  font-family: "Amaranth", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 45px;
}

.logo-home {
  max-width: max-content;
  padding-top: 10px;
}

.crane-gif {
  padding-top: 20px;
  max-width: 95%;
}
