@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
body {
  margin-top: 67px;
  margin-bottom: 67px;
}

.App {
  background: white;
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 45px;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.logo-home {
  max-width: 70px;
  padding-top: 10px;
}

.crane-gif {
  padding-top: 20px;
  max-width: 95%;
}

.media-query-image {
  height: 100%;
  width: 100%;
}
