.CraneCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.7em;
  width: 90vw;
}

.CraneCard button {
  background: none;
  border: none;
  text-decoration: underline;
  color: black;
}

.card-image {
  margin-left: 23px;
  object-fit: cover;
  width: 330px;
  height: 300px;
}

.CraneCard div {
  margin-left: 22px;
}

.username {
  margin-top: -29px;
  background-color: white;
  padding: 0px;
  width: 90px;
  height: 30px;
  text-align: center;
  color: black;
}

.showMoreButton {
  width: 200px;
  margin: -42px 0px 0px 250px;
  font-size: 1em;
}

.extraInfo {
  text-align: start;
  margin: -2vh;
  width: 100vw;
}

.extraInfo-items {
  margin-bottom: -8px;
}

.extraInfo button {
  background-color: orange;
  color: white;
}

.modal {
}
