.crane-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}

.crane-card button {
  background: none;
  border: none;
  color: black;
}

.card-image {
  object-fit: cover;
  width: 100vw;
  height: 300px;
}

.crane-card p {
  margin-left: 10px;
}

.username {
  margin-top: -10px;
  height: 30px;
  text-align: center;
  color: black;
}

.extraInfo {
  text-align: start;
  margin: -2vh;
  width: 100vw;
}

.extraInfo-items {
  margin-bottom: -8px;
}

.extraInfo button {
  background-color: orange;
  color: white;
}
