.login-image {
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

.login-form {
  position: relative;
  margin-top: 10px;
}

.login-form input {
  width: 85vw;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 22px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
  text-align: left;
}

::placeholder {
  color: #000;
}

.login-button {
  width: 85vw;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(
    45deg,
    rgba(248, 54, 0, 1),
    rgba(249, 212, 35, 1)
  );
}

.register-link {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.register-link:visited {
  color: #000;
  text-decoration: none;
}

.social-icons {
  width: 35px;
}

.social-links-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin-left: -42px;
}
