.login-form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
input {
  margin: 15px;
  height: 40px;
  border-radius: 8px;
  font-size: 20px;
  border: 1px solid #333;
}

button {
  height: 40px;
  border-radius: 8px;
  margin: 15px;
  cursor: pointer;
  border: 1px solid #333;
  background: #333;
  color: white;
}

a{ 
  color:black;
}

.remember {
  height: 20px;
}